body {
  background: #f5f7fb;
  margin: 0;
  font-family: Arial;
}

.page {
  padding-bottom: 40px;
}

/* NAVBAR */

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 25px 60px;
  background: white;
  align-items: center;
}

.logo {
  font-size: 22px;
  font-weight: bold;
  color: #2563eb;
}

.menu a {
  margin: 0 12px;
  color: #333;
}

.navButtons a {
  margin-left: 10px;
}

.outline {
  border: 1px solid #d1d5db;
  padding: 8px 14px;
  border-radius: 8px;
  text-decoration: none;
  color: black;
}

/* HERO */

.hero {
  display: flex;
  padding: 60px;
  gap: 40px;
  align-items: center;
}

.heroImg {
  width: 420px;
  border-radius: 12px;
}

.heroText h1 {
  font-size: 38px;
}

.heroText p {
  color: #6b7280;
  margin-top: 15px;
}

.heroBtns {
  margin-top: 25px;
}

.primary {
  background: #2563eb;
  color: white;
  padding: 12px 20px;
  border-radius: 8px;
  text-decoration: none;
  margin-right: 10px;
}

.secondary {
  background: #e5e7eb;
  padding: 12px 20px;
  border-radius: 8px;
  text-decoration: none;
  color: black;
}

/* FEATURES */

.features {
  background: white;
  margin: 40px 60px;
  padding: 40px;
  border-radius: 12px;
  text-align: center;
}

.sub {
  color: #6b7280;
}

.cards {
  display: flex;
  margin-top: 30px;
  justify-content: space-between;
}

.card {
  width: 30%;
}

.icon {
  font-size: 28px;
}

/* STATS */

.stats {
  display: flex;
  justify-content: space-around;
  margin: 40px 60px;
}

.stat {
  background: white;
  padding: 25px;
  border-radius: 12px;
  width: 30%;
  text-align: center;
}

.stat span {
  font-size: 26px;
  color: #2563eb;
  font-weight: bold;
}

/* CTA */

.cta {
  background: #e9eefc;
  margin: 40px 60px;
  padding: 50px;
  text-align: center;
  border-radius: 12px;
}

.big {
  display: inline-block;
  margin-top: 20px;
}

/* FOOTER */

.footer {
  text-align: center;
  margin-top: 50px;
}